@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Urbanist:ital,wght@0,600;1,100;1,300&display=swap');

body {
    background-image: linear-gradient(90deg, #9055FF , #13E2DA);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*prevents from color changing after visiting the hyperlink*/
a {
    color: inherit;
    text-decoration:none;
}

#main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#topbar {
    height: 200px;
    /*border-radius: 15px;*/
}
#logo {
    float:left;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#logo:hover{
	 animation-duration: 1s;
	transform: scale(1.3);  
}

#function {
    float:left;
    width: 698px;
    height:inherit;
    text-align: center;
    position: relative;
}

#function-content {
    height: 50px;
    width: 510px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#right-bar {
    float:left;
    width: 300px;
    height:inherit;
    position: relative;
}

#right-bar-content {
    height: 100px;
    width: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#sign-up {
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 24px;
    cursor: pointer;
}
#or-div {
    text-align: center;
    height: 20px;
    width: 100px;
    font-size: 12px;
    color:grey;
}

#log-in{
    background-color: #03BFB5;
    color:white;
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    font-size: 24px;
    cursor: pointer;
}

#log-in:hover {
    cursor: focus;
}

#main-content {
    clear:both;
    background-color: white;
    border-radius: 15px;
    width: 1200px;
    height: 800px;
}

.functionElement{
    float:left;
    text-align: center;
    height: 50px;
    width: 140px;
    font-size: 24px;
    padding: 5px;
    border-radius: 15px;
    margin-right: 15px;
    cursor: pointer; 
}

.functionElement:hover{
    background-color: #03BFB5;
    font-size: 28px;
    
}



